doctype html
html
    head
        title Sticky menu
        meta(charset='utf-8')
        meta(name='description' content=description)
        meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet' href='css/normalize.css')
        link(rel='stylesheet' href='css/styles.css')

    body
        block header
            .banner Banner

            nav
                #main-menu.main-menu
                    p MENU
        main.main
            block main
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nesciunt numquam officia sequi deleniti doloremque ullam soluta quia, ipsam voluptates nulla sunt dolore excepturi possimus? Molestias corrupti voluptates maiores veritatis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nesciunt numquam officia sequi deleniti doloremque ullam soluta quia, ipsam voluptates nulla sunt dolore excepturi possimus? Molestias corrupti voluptates maiores veritatis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nesciunt numquam officia sequi deleniti doloremque ullam soluta quia, ipsam voluptates nulla sunt dolore excepturi possimus? Molestias corrupti voluptates maiores veritatis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nesciunt numquam officia sequi deleniti doloremque ullam soluta quia, ipsam voluptates nulla sunt dolore excepturi possimus? Molestias corrupti voluptates maiores veritatis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nesciunt numquam officia sequi deleniti doloremque ullam soluta quia, ipsam voluptates nulla sunt dolore excepturi possimus? Molestias corrupti voluptates maiores veritatis.
        block scripts
            script(src='js/menu.js')
