.banner { background: grey; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 2em; text-transform: uppercase; }

.main-menu { background: lightblue; line-height: 2; text-align: center; }

.main-menu p { margin: 0; }

.fixed { position: fixed; top: 0; width: 100%; }
